# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Backups
backups/

# Zigbee2MQTT runtime data
zigbee2mqtt/data/

# Mosquitto runtime data and logs
mosquitto/data/
mosquitto/log/

# System files
.DS_Store
Thumbs.db
